@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.cdnfonts.com/css/ferro-rosso');
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap');
@import url('@fortawesome/fontawesome-free/css/all.min.css');

*{
  font-family: 'Titillium Web', sans-serif;   
}

.header {
  background: #1b1b1b;
  height: 55px;
  width: 100vw;
  position: fixed;
  z-index: 10000;
  top: 0;
}

.logo {
  height: auto;
  width: 15%;
  margin: 10px;
  position: absolute;
}

.navbar {
  float: right;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 5px 0px 0px 0px;
  flex-wrap: wrap;
  color: #f2f2f2; 
}

.navbar ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin-right: 16px;
}

.navbar ul li {
  margin: 0 5px;
}

.navbar ul li a {
  color: #f2f2f2;
  text-decoration: none;
  font-size: 18px;
  font-weight: 700;
  padding: 8px 15px;
  border-radius: 5px;
  letter-spacing: 1px;
  transition: all 0.3s ease;
}

.navbar ul li a:hover {
  color: #111;
  background: #fff;
  border-radius: 50px;
}

#news {
  height: 100vh;

}

.carousel {
  padding-top: 55px;
}


.carousel-indicators [data-bs-target] {
  width: 10px;
  height: 10px;
}

/* .carousel-captions {
  
} */

.carousel-item {
  border-radius: 5px;
}

.carousel-item::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 50%;
  background-color: rgba(0, 0, 0, 1);
  background: linear-gradient(to top, rgba(0, 0, 0, 0.9) 50%, rgba(0, 0, 0, 0) 100%);
  border-radius: 5px;
}

.sketchfab-embed-wrapper {
  background-color: #131313;
  height: 100vh;
  display: block;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-top: 55px;
}

.sketchfab-embed-wrapper h2 {
  padding-bottom: 0;
  color: #62bdef;
  font-family: 'Ferro Rosso', sans-serif;                                           
}

.sketchfab-embed-wrapper iframe {
  width: 900px;
  height: 350px;
  display: block;
  margin: auto;

}

.sketchfab-embed-wrapper ul {
  list-style: none;
  text-align: center;
 
}

.sketchfab-embed-wrapper ul li {
  font-size: 28px;
  display: inline-block;
  margin-right: 43px;
  font-weight: bold;
  color: #62bdef;
}


.sketchfab-embed-wrapper ul li:last-child{
  margin-right: 90;
}

.sketchfab-embed-wrapper label {
  display: inline-block;
  text-align: center;
  font-size: 17px;
  margin-right: 3px;
  color: #c5c5c5;

}

#drivers {
  position: relative;
  
 
}

#leclerc, #sainz {
  display: block;
  position: absolute;
  bottom: 0;
  transition: filter 0.3s ease;
}

#leclerc:hover, #sainz:hover {
  filter: drop-shadow(3px 10px 10px rgb(98, 189, 239));
}




#leclerc {
  height: 59%;
}


#sainz {
  height: 58%;
  right: 0;
}

.leclerc-info{
  padding-top: 55px;
  display: block;
  position: absolute;
  z-index: -1;
  width: 30vw;
  transition: text-shadow 0.3s ease; /* Add transition for the text-shadow property */
  text-shadow: none; /* Initial text-shadow value */
}



#num16  {
  display: block;
  height: 100px;
  margin: auto;
}

.leclerc-info h2, .sainz-info h2 {
  font-family: 'Titillium Web', sans-serif;                                       
  text-align: center;
  font-weight: 700;
  text-transform: uppercase;
  color:#e3e3e3;
  display: block
}

.sainz-info{
  padding-top: 55px;
  display: block;
  position: absolute;
  z-index: -1;
  width: 30vw;
  right:0;
}

#num55{
  display: block;
  height: 60px;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
}

.stats{
  display: block;
  left: 50%;
  transform: translateX(-50%);
  color: #e3e3e3;
  text-align: center;
  position: absolute;
  justify-content: center;
  padding-top: 75px;
  height: 100%;
  padding-left: 30px;
  padding-right: 30px;
}

table {
  border-collapse: collapse;
  width: 500px;
  height: 100%;

}

table tbody tr td {
  font-size: 35px;
  cursor: default;
}

.criteria {
  font-weight: 900;
  color:#62bdef;
  transition: color 0.3s ease, box-shadow 0.3s ease;
}

.criteria:hover {
  color: #ffffff; 
  text-shadow: 0 0 10px #62bdef, 0 0 20px #62bdef, 0 0 30px #62bdef; /* Text glow effect */
}

.value {
  transition: color 0.3s ease, box-shadow 0.3s ease;
}

.value:hover {
  text-shadow: 0 0 10px #ffffff, 0 0 20px #ffffff, 0 0 30px #ffffff; /* Text glow effect */
}

.our-shop {
  background: linear-gradient(to left, rgba(175, 255, 254, 1) 10%, rgba(255, 255, 255, 1) 60%);
  padding: 57px;
  position: relative;
  height: 100vh;
}

.our-shop .shop-txt {
  display: block;
  margin-left: 50vw;
  margin-top: 30vh; 
}

.our-shop .shop-txt h1 {
  font-weight: bold;
  display: inline;
}

.our-shop .shop-txt h1 #edit-font {
  font-family: "Ferro Rosso";
  text-transform: capitalize;
  
}

.our-shop #merch {
  display:block;
  height: 100vh;
  left: 0;
  top: 0;
  position: absolute;
  z-index: 1000;
}

.our-shop button {
  margin-top: 10px;
  display: block;
  background-color: #ebda6c;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: color 0.3s ease, box-shadow 0.3s ease;
}

.our-shop a {
  text-decoration: none;
}

.our-shop button:hover {
  box-shadow: 0 0 10px #a8ae41, 0 0 20px #a8ae41, 0 0 30px #a8ae41;
  color: #131313;
  font-weight: bold;
}

#about {
  height: 100vh;
  background: radial-gradient(circle, rgba(255, 255, 255, 1) 0%, rgba(175, 255, 254, 1) 100%);
  padding: 57px;
  position: relative;
}

#about .about-txt {
  display: block;
  margin-left: 50vw;
  margin-top: 15vh; 
}

#about .about-txt h1{
  font-weight: 900;
}

#about #about-us {
  position: absolute;
  height: 50%;
  top: 25%;
}


@media screen and (max-width: 768px) {
  .navbar ul li {
    margin: 0 5px;
  }

  .logo {
    width: 20%;
    /* Adjust logo size for smaller screens */
  }

  .navbar {
    padding: 0 10px;
    /* Adjust padding for smaller screens */
  }
}