.about-us-container {
    padding: 20px;
    width: 1000px;
    border: 1px solid black;
  }
  
  .about-us-content {
    margin-top: 20px;
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 5px;
  }
  
  .about-us-content p {
    margin: 0;
    font-size: 1.2em;
  }
  
  .about-us-textarea {
    width: 100%;
    height: 150px;
    padding: 10px;
    font-size: 1em;
    margin-bottom: 10px;
  }
  
  .about-us-button {
    padding: 8px 12px;
    font-size: 1em;
    cursor: pointer;
  }
  