.car-specs-container {
    padding: 20px;
  }
  
  .car-spec-item {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 5px;
  }
  .car-spec-content {
    flex: 1;
  }
  
  .car-spec-item h3 {
    margin: 0;
    font-size: 1.5em;
  }
  
  .car-spec-item p {
    margin: 5px 0 0;
  }
  
  .car-spec-item input {
    display: block;
    width: 100%;
    margin-bottom: 10px;
    padding: 8px;
    font-size: 1em;
  }
  
  .btn {
    color: white;
    border: 1px solid black;
    background-color: black;
    margin-top: 10px;
    padding: 8px 12px;
    font-size: 1em;
    cursor: pointer;
  }
  